*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px
}

.inner{
    display: grid;
    grid-template-columns: 256px 256px 256px 256px 256px;
    grid-template-rows: 256px 256px;
}

.deckButton{
    border: 1px solid blue;
    background-color: lightblue;
    padding: 25%;
    margin: 5%;
}

.emptyButton{
    border: 1px solid red;
    background-color: pink;
}