<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div id="buttonContainer" class="container inner">
            <div class="deckButton" data-action="this the one">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
            <div class="deckButton">
            </div>
        </div>
    </div>

</body>
</html>